<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content class="sidemenu">
            <div class="list">
                <a class="item item-avatar">
                    <img src="img/ionic.png">
                    <h2>{{loginBody.loginUserRealName||"未返回"}}</h2>
                    <p style="color: #999;">{{loginBody.dept.deptName}}</p>
                </a>
                <p class="padding" style="padding:0 16px;color: #999;" ng-repeat="role in loginBody.loginUserRoles">{{role.name}}</p>
            </div>
            <ion-list>

                <!--ion-toggle ng-model="isNoti" ng-change="ChangeNotification();" class="item item-icon-left item-toggle" toggle-class="toggle-calm"><i class="icon ion-ios-bell-outline" style="font-size:22px;"></i>接收通知
                </ion-toggle-->
                <a class="item item-icon-left" ng-click="checkUpdate();">
                    <i class="icon ion-ios-download-outline" style="font-size:22px;"></i>在线升级
                    <span class="item-note">{{version}}</span>
                </a>
                <a class="item item-icon-left" menu-close ng-click="login()">
                    <i class="icon ion-log-out" style="font-size:22px;"></i>退出登录
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>