
<ion-view>
	<div class="bar bar-header bar-dark">
		<div class="buttons">
			<button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
		</div>
		<h1 class="title">出航津贴</h1>
		<button class="button button-clear" ng-click="serachShow=!serachShow">
			<i class="icon ion-search"></i>
		</button>
	</div>
	<ion-content class="has-header scroll-content ionic-scroll">
		<ion-list>
			<ion-item class="item" ng-click="modalHuibao.show();" href="#/app/butie/{{i}}" ng-repeat="i in [0,1]">
				<h2 class="positive">澄12968&nbsp;(ESTOLAR)</h2>
				<p>代理：常州外代 长度：96.55 吃水：9.88</p>
				<p>始发地：宝山 目的地：九江</p>
				<p>开航时间：0700/07 抵澄时间：700/07</p>
                
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

<div ng-show="serachShow" class="bg-dark" style="position:absolute;width:100%;top:44px;z-index: 99999;background:white;">
	<label class="item item-input item-select">
		<div class="input-label">
			计算年月
		</div>
		<select>
			<option selected>2016年10月</option>
			<option>2016年9月</option>
			<option>2016年8月</option>
		</select>
	</label>
	<label class="item item-input item-select">
		<div class="input-label">
			引航站
		</div>
		<select>
			<option>太仓站</option>
			<option selected>江阴站</option>
			<option>常州站</option>
		</select>
	</label>
	<div class="content padding">
		<button class="button button-block button-positive">计算出航津贴(3.26后)</button>
	</div>
	
</div>