<ion-modal-view>
    <div class="bar bar-header bar-stable">
        <h1 class="title">详情</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="modalHangxin.hide()">
				<i class="icon ion-close"></i>
			</button>
        </div>
    </div>

    <ion-content class="has-header scroll-content ionic-scroll">
        <div class="item">
            <h2 class="white-space: normal;">{{detail.title}}</h2>
            <p class="text-right">{{detail.author}}&nbsp;&nbsp;{{detail.releaseDate}}</p>
        </div>
        <div class=" item-body" ng-bind-html="detail.txt|to_trusted">

        </div>
        <div class=" item-body">
            <a ng-repeat="atm in detail.atmlist" ng-click="preview(atm)">{{atm.name}}</a>
        </div>
        </ion-list>
    </ion-content>
</ion-modal-view>