<ion-view>
	<div class="bar bar-header bar-dark">
		<div class="buttons">
			<button class="button button-clear" ng-click="$ionicGoBack()">
				<i class="icon ion-android-arrow-back"></i>
			</button>
		</div>
		<h1 class="title">辅助信息详情</h1>
	</div>

	<ion-content class="has-header scroll-content ionic-scroll">
		<ion-list>
			<ion-item class="item" href="#/app/boat/2">
				<p>
					中文船名：<span class="positive">尊严</span> 英文船名：<span class="positive">NITED DIGNITY</span>
				</p>
				<p> 国籍：<span class="positive">巴拿马</span></p>
				<p>
					建造时间：<span class="positive">2016年10月10日</span> 长度：<span class="positive">292.00</span>
				</p>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>
<div ng-show="!selectShow" class="bg-dark" style="position:absolute;width:100%;height:30%;top:44px;z-index: 99999;">
	<div class="list">
        <label class="item item-input">
          <span class="input-label">中文船名：</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">英文船名：</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">国籍：</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">建造时间：</span>
          <input type="date">
        </label>
        <label class="item item-input">
          <span class="input-label">长度：</span>
          <input type="text">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="search()">查询</button>
      </div>
</div>
