<ion-modal-view>
    <div class="bar bar-header bar-stable">
        <h1 class="title">汇报详情</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="modalDetail.hide()">
            <i class="icon ion-close"></i>
          </button>
        </div>
    </div>

    <ion-content class="has-header scroll-content ionic-scroll">
        <div class="list">
            <div class="item">
                船舶编号
                <span class="item-note">
    {{huibaoItem.cbbh}}
  </span>
            </div>
            <a class="item">
  中文船名
  <span class="item-note">
   {{huibaoItem.chName}}
  </span>
</a>
            <a class="item">
  国籍
  <span class="item-note">
    {{huibaoItem.nationName}}
  </span>
</a>

            <a class="item">
  代理
  <span class="item-note">
    {{huibaoItem.agentName}}
  </span>
</a>
            <a class="item">
  船舶类型
  <span class="item-note">
   {{huibaoItem.vesselTypeName}}
  </span>
</a>

            <a class="item">
  长度
  <span class="item-note">
    {{huibaoItem.vesselLong}}
  </span>
</a>
            <a class="item">
  吃水
  <span class="item-note">
    {{huibaoItem.draftBehind}}
  </span>
</a>

            <a class="item">
  始发地
  <span class="item-note">
    {{huibaoItem.origin}}
  </span>
</a>
            <a class="item">
  目的地
  <span class="item-note">
    {{huibaoItem.destination}}
  </span>
</a>
            <a class="item">
  开航时间
  <span class="item-note">
    {{huibaoItem.khsjFormat}}
  </span>
</a>
            <a class="item" ng-click="showPeiban(huibaoItem.sdyhy)">
  上段引航员
  <span class="item-note positive">
   {{huibaoItem.sdyhyName}}
  </span>
</a>
            <a class="item">
  抵澄时间
  <span class="item-note">
    {{huibaoItem.dcsjFormat}}
  </span>
</a>
            <a class="item" ng-click="showPeiban(huibaoItem.xdyhy)">
  下段引航员
  <span class="item-note positive">
    {{huibaoItem.xdyhyName}}
  </span>
</a>
            <a class="item">
  抵宝时间
  <span class="item-note">
   {{huibaoItem.dbsjFormat}}
  </span>
</a>
            <a class="item">
  引领备注
  <span class="item-note">
    {{huibaoItem.jlbz}}
  </span>
</a>
        </div>

    </ion-content>
</ion-modal-view>