<ion-view>
    <div class="bar bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="$ionicGoBack()">
				<i class="icon ion-android-arrow-back"></i>
			</button>
        </div>
        <h1 class="title">详细</h1>
    </div>

    <ion-content class="has-header has-footer scroll-content ionic-scroll">
        <div class="list">
            <div class="item">
                <h2>提问：{{detail.title}}</h2>
                <p>
                    {{detail.creator.userRealname}}
                </p>
            </div>
            <div class="list list-inset">

                <ion-list>
                    <ion-item ng-repeat="answer in detail.answers">

                        {{answer.creator.userRealname}}：{{answer.answerContent}}
                        <ion-option-button class="button-assertive" ng-click="delAnswer(answer)">删除</ion-option-button>
                    </ion-item>
                </ion-list>


            </div>

            <div class="padding" ng-if="index==1">
                <button class="button button-block button-positive" ng-click="answer()">回答</button>
            </div>

            <div class="item item-divider">
                评论
            </div>
            <ion-list>
                <ion-item class="item" ng-repeat="item in detail.comments">
                    <h2>{{item.creator.userRealname}}</h2>
                    <p>
                        {{item.commentConent}}
                    </p>
                    <ion-option-button class="button-assertive" ng-click="delComment(item)">删除</ion-option-button>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
    <div class="bar bar-footer bar-stable item-input-inset">
        <label class="item-input-wrapper">
			<input type="search" placeholder="输入评论内容" ng-model="comment">
		</label>
        <button class="button button-clear" ng-click="comm()">
			发布
		</button>
    </div>
</ion-view>
<div ng-show="answerShow" class="bg-dark" style="position:absolute;width:100%;height:100%;top:44px;z-index: 99999;background:white;">

    <div class="padding">
        <textarea style="width:100%;height:130px;border:solid 1px #ddd" ng-model="replay"></textarea>
        <div class="button-bar bar-stable">
            <button class="button button-block button-positive" ng-click="submit()">确认回答</button>
            <button class="button button-block" ng-click="answerShow=false">取消</button>

        </div>
    </div>
</div>