<ion-view view-title="江阴引航站">
    <div class="bar bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">引航计划</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="menuShow=!!!menuShow"><i class="icon ion-more"></i></button>
        </div>
    </div>

    <ion-content class="has-header scroll-content ionic-scroll">
        <ion-list>
            <ion-item class="item" ng-click="showDetail(item)" ng-repeat="item in jihuaList">
                <h2>{{item.CH_NAME}}({{item.EN_NAME}})</h2>
                <p>代理：<span class="positive">{{item.AGENT_NAME}}</span> 长度：<span class="assertive">{{item.VESSEL_LONG}}</span> 吃水：<span class="assertive">{{item.DRAFT_BEHIND}}</span></p>
                <p>始发地：<span class="positive">{{item.ORIGIN_BWMC}}</span> 目的地：<span class="positive">{{item.DESTINATION_BWMC}}</span></p>
                <p>开航时间：<span class="positive">{{item.KHSJ|date}}</span> 抵澄时间：<span class="positive">{{item.DCSJ|date}}</span></p>
                <ion-option-button class="button-assertive" ng-click="modalList.show()">历史航次汇报</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
<div ng-show="menuShow" class="list card bg-dark" style="position:absolute;top:44px;left:0;right:0;z-index: 99999;background: #fff;">
    <label class="item item-select">
		<div class="input-label">
			引航站
		</div>
		<select ng-model="yinhangzhan">
      <option value="{{item.YHZID}}" ng-repeat="item in yhzList">{{item.YHZNAME}}</option>
    </select>
  </label>
    <div class="list">
        <div class="padding">
            <input type="radio" value="0" ng-model="cbhx" name="B">内贸
            <input type="radio" value="1" ng-model="cbhx" name="B">外贸
        </div>
        <div class="padding">
            <input type="radio" value="20003" ng-model="sqlx" name="A">进江
            <input type="radio" value="20004" ng-model="sqlx" name="A">出江
            <input type="radio" value="20005" ng-model="sqlx" name="A">移泊
        </div>
        <div class="buttons padding">
            <button class="button button-positive button-block" ng-click="search()">
              确定
            </button>
        </div>
    </div>

</div>
<script id="my-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar>
            <h1 class="title">历史航次汇报</h1>
            <button class="button" ng-click="modalList.hide()">
        <i class="icon ion-close"></i>
      </button>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <a class="item">
        中文船名
        <span class="item-note">
          尊严
        </span>
      </a>
                <a class="item">
        引航员
        <span class="item-note">
          孙北京
        </span>
      </a>
                <a class="item">
        始发地
        <span class="item-note">
          宝山
        </span>
      </a>
                <a class="item">
        目的地
        <span class="item-note">
          武港
        </span>
      </a>

                <a class="item">
        报告时间
        <span class="item-note">
          2013-12-23 12:37:21
        </span>
      </a>

                <a class="item">
        接受人
        <span class="item-note">
          江山
        </span>
      </a>
                <a class="item">
        操纵性能
        <span class="item-note">
          良好
        </span>
      </a>
                <a class="item">
        主机工况
        <span class="item-note">
          常
        </span>
      </a>
                <a class="item">
        可变螺距
        <span class="item-note">
          否
        </span>
      </a>

                <a class="item">
        正常航速
        <span class="item-note">
          13
        </span>
      </a>
                <a class="item">
        舵机工况
        <span class="item-note">
          正常
        </span>
      </a>
                <a class="item">
        助航设备
        <span class="item-note">
          良好
        </span>
      </a>
                <a class="item">
        靠离泊状态
        <span class="item-note">
          落水
        </span>
      </a>
                <a class="item">
        锚的使用情况
        <span class="item-note">
          无
        </span>
      </a>
                <a class="item">
        锚机工况
        <span class="item-note">
          正常
        </span>
      </a>
                <a class="item">
        锚链入水
        <span class="item-note">
          0
        </span>
      </a>
                <a class="item">
        其它信息
        <span class="item-note">

        </span>
      </a>
                <a class="item">
        备注
        <span class="item-note">

        </span>
      </a>
            </div>
        </ion-content>
    </div>
</script>

<script id="piban-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar>
            <h1 class="title">配班信息</h1>
            <button class="button" ng-click="modalPeiban.hide()">
        <i class="icon ion-close"></i>
      </button>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <a class="item">
      姓名
      <span class="item-note">
        饶明安
      </span>
      <a class="item">
      档次
      <span class="item-note">
        
      </span>
      <a class="item" href="tel:12345670000">
      电话
      <span class="item-note">
        <span class="positive">1234567</span>
      </span>
      <a class="item">
      所属引航站
      <span class="item-note">
        江阴站
      </span>
    </a>
            </div>
        </ion-content>
    </div>
</script>