<ion-view>
	<div class="bar bar-header bar-dark">
		<div class="buttons">
			<button class="button button-clear" ng-click="$ionicGoBack()">
				<i class="icon ion-android-arrow-back"></i>
			</button>
		</div>
		<h1 class="title">码头信息</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="menuShow=true"><i class="icon ion-more"></i></button>
		</div>
	</div>

	<ion-content class="has-header scroll-content ionic-scroll">
		<ion-list>
			<li class="item">
				码头名称
				<span class="item-note"> 张海航〔2016〕046号 </span>
			</li>
			<li class="item">
				码头前沿设计水深
				<span class="item-note">
					
				</span>
			</li>
			<li class="item">
				码头前沿实际测量水深
				<span class="item-note"> 张家港海事局 </span>
			</li>
			<li class="item">
				码头形式
				<span class="item-note">  </span>
			</li>
			<li class="item">
				泊位个数
				<span class="item-note">  </span>
			</li>
			<li class="item">
				码头用途
				<span class="item-note">  </span>
			</li>
			<li class="item">
				港作码头长度
				<span class="item-note">  </span>
			</li>
			<li class="item">
				码头设计货物吞吐量
				<span class="item-note">  </span>
			</li>
			<li class="item">
				码头设计旅客吞吐量
				<span class="item-note">  </span>
			</li>
			<li class="item">
				码头前沿底标高
				<span class="item-note">  </span>
			</li>
			<li class="item">
				码头年货物通过能力
				<span class="item-note">  </span>
			</li>
			<li class="item">
				码头年旅客通过能力
				<span class="item-note">  </span>
			</li>
			<li class="item">
				码头年集装箱通过能力
				<span class="item-note">  </span>
			</li>
			<li class="item">
				码头是否凹入式码头
				<span class="item-note">  </span>
			</li>
			
			
		</ion-list>
	</ion-content>

</ion-view>
<div ng-show="menuShow" class="bg-dark" style="position:absolute;width:100%;top:44px;z-index: 99999;background: #fff;">
	<label class="item item-select">
		<div class="input-label">
			地域
		</div>
		<select ng-model="yinhangzhan">
      <option value="太仓">太仓</option>
      <option selected value="江阴">江阴</option>
      <option value="常州">常州</option>
    </select>
  </label>
  <div class="list">

   <div class="padding"><input type="radio" name="A">&nbsp;&nbsp;&nbsp;前一天&nbsp;<input type="radio" name="A">&nbsp;&nbsp;&nbsp;今天&nbsp;<input type="radio" name="A">&nbsp;&nbsp;后一天</div>
   <a class="item"> 前一天<input type="text" style="height:auto;text-align: right;" class="item-note" placeholder=""></a>

    <button class="button button-positive button-block" ng-click="closemenu()">
      确定
    </button>
  </div>

</div>