<ion-view>
	<div class="bar bar-header bar-dark">
		<div class="buttons">
			<button class="button button-clear" ng-click="$ionicGoBack()">
				<i class="icon ion-android-arrow-back"></i>
			</button>
		</div>
		<h1 class="title">潮汐信息查询</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="menuShow=!!!menuShow"><i class="icon ion-more"></i></button>
		</div>
	</div>

	<ion-content class="has-header scroll-content ionic-scroll">
		<ion-list>
			<li class="item" ng-repeat="item in items">
				{{item.title}}
				<span class="item-note"> {{item.value}} </span>
			</li>			
		</ion-list>
	</ion-content>
</ion-view>
<div ng-show="menuShow" class="bg-dark" style="position:absolute;width:100%;top:44px;z-index: 99999;background: #fff;">
	<label class="item item-select">
		<div class="input-label">
			地域
		</div>
		<select ng-model="yinhangzhan">
      <option value="太仓">太仓</option>
      <option selected value="江阴">江阴</option>
      <option value="常州">常州</option>
    </select>
  </label>
  <div class="list">

   <div class="padding"><input type="radio" name="A">前一天&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="A" checked>今天&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="A">后一天</div>

    <button class="button button-positive button-block" ng-click="menuShow=false">
      确定
    </button>
  </div>

</div>