<ion-view view-title="网络学堂">
	<div class="bar bar-header bar-dark">
		<div class="buttons">
			<button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
		</div>
		<h1 class="title">网络学堂</h1>
	</div>
	<ion-content class="has-header scroll-content ionic-scroll">
		<div style="padding:16px;" ng-if="classid=='1'">
		中心所属各单位： 近期，长江干线水位持续下降。9月18日，汉口水位5.41米，并有进一步下降趋势，长江下游进入了水位交替期。为进一步强化安全监管工作，长江海事局下发了《关于近期搁浅事故的通报》，现转发给你们，请各单位组织学习，落实上级有关要求。此外，根据引航工作特点，各单位要做好以下工作： 一、密切关注辖区水位、航道变化，敦促有关单位对浅险易变航段及码头前沿水深进行测量，并提供最新海图，防止搁浅；结合辖区特点做好隐患排查治理工作，落实安全防范措施。 二、引航船舶通过浅险航段要提前控制航速，留足富裕水深，谨慎操作；锚泊船舶要选择合适水域，防止搁浅。引航过程中发现航道、锚地水深变浅及航标异常等情况要及时报告中心监控室。 三、各单位要密切关注中心内网、中心监控室发布的安全公告、海事通告、安全提醒等信息，及时上报重要安全信息。 安技部 2016年9月18日 关于近期搁浅事故的通报 进入8月份以来，长江干线水位持续下降，部分航道变浅变窄，给船舶安全航行带来不利影响，导致发生多起船舶搁浅事故，对辖区安全稳定带来不良影响。为切实吸取事故教训、严防此类事故发生、确保辖区安全形势持续稳定，现将有关险情事故情况通报如下： 一、事故基本情况 （一）8月3日0600时，仪征市兴昭运输有限公司所属“兴昭0269”（扬州籍，散货船，船长85.6米，总吨2279，载重吨2380吨，靖江至荆州，载煤4008吨，在船船员4人）在乌龟州#5红浮水域（长江中游航道里程313公里）发生搁浅，船艏尖舱破损进水，无人员伤亡。 （二）8月19日1510时，个体船“兴豫1668”(河南籍，干货船，船长94.00米，总吨3017，载重吨6185吨，载碎石5600吨，吃水5.8米，在船船员3人) 下行至太平口#9-1红浮水域 (长江中游航道里程485公里) 在航道边缘搁浅，船体无破损，
		</div>
		<div style="padding:16px;" ng-if="classid=='2'">
			<a>点击下载：E-pilot在引航中的应用（姚泽炎）.ppt</a>
		</div>
	</ion-content>
</ion-view>