<ion-modal-view>
    <div class="bar bar-header bar-stable">

        <h1 class="title">休假详情</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="qingjiaDetail.hide()">
				<i class="icon ion-close"></i>
			</button>
        </div>
    </div>

    <ion-content class="has-header scroll-content ionic-scroll">
        <div class="item item-divider">
            已休假情况
        </div>
        <a class="item">

            <p><span>病假:{{tongji.bj}}天</span>&nbsp;&nbsp;
                <span>公休假:{{tongji.gxj}}天</span>&nbsp;&nbsp;
                <span>婚假:{{tongji.hj}}天</span>&nbsp;&nbsp;
                <span>生育假:{{tongji.syj}}天</span>
                <span>探亲假:{{tongji.tqj}}天</span>
                <span>丧假:{{tongji.sj}}天</span>
                <span>学习假:{{tongji.xxj}}天</span>
                <span>公差:{{tongji.gc}}天</span>
                <span>工伤:{{tongji.gs}}天</span>
                <span>待岗:{{tongji.dg}}天</span>
                <span>年休假:{{tongji.nxj}}天</span></p>

        </a>
        <div class="item item-divider">

        </div>
        <div class="list">
            <a class="item">
      休假人
      <span class="item-note">
        {{itemDetail.XM}}
      </span>
     </a>
            <a class="item">
      休假地点
      <span class="item-note">
       {{itemDetail.XJCS}}
      </span>
     </a>
            <a class="item">
      休假事由
      <span class="item-note">
            {{itemDetail.QXJSY}}
      </span>
     </a>
            <a class="item">
      休假类别
      <span class="item-note">
            {{itemDetail.QJLB}}
      </span>
     </a>
            <a class="item">
      休假开始时间
      <span class="item-note">
            {{itemDetail.KSSJ1|dateqingjia}}
      </span>
     </a>
            <a class="item">
      休假结束时间
      <span class="item-note">
            {{itemDetail.JSSJ1|dateqingjia}}
      </span>
     </a>
            <a class="item">
      请假天数
      <span class="item-note">
            {{itemDetail.TS1}}
      </span>
     </a>
            <div class="item item-divider">
                批示意见
            </div>
            <a class="item">

                    {{itemDetail.COMMENTS}}

            </a>
            <div class="item item-divider" ng-if="false">
                审批意见
            </div>
            <div class="list list-inset" ng-if="false">
                <label class="item item-input">
    <textarea placeholder="审批内容"></textarea>
  </label>

                <div class="button-bar ">
                    <a class="button button-positive">同意</a>
                    <a class="button button-assertive">不同意</a>
                </div>


            </div>
        </div>
    </ion-content>
</ion-modal-view>