<ion-view>
    <div class="bar bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">休假管理</h1>
        <div class="buttons">

        </div>

    </div>




    <ion-content class="has-header">
        <div class="list">
            <a class="item item-avatar" ng-click="showDetail(item)" ng-repeat="i in [0,1]">
                <img src="img/ionic.png">
                <h2>郑智化(引航员)</h2>
                <p>办理购房贷款的事情，请假两天</p>
                <p>时间：9月28-9月30日&nbsp;&nbsp;共2天</p>
            </a>
        </div>
    </ion-content>




    </ion-tabs>

</ion-view>