<ion-view>
    <div class="bar bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">休假管理</h1>
        <div class="buttons">

        </div>

    </div>
    <div class="tabs tabs-striped tabs-color-positive" ng-init="index=0">
        <a class="tab-item" ng-class="{'active':index==0}" ng-click="changeTab(0)">
   我的休假
  </a>
        <a class="tab-item" ng-class="{'active':index==1}" ng-click="changeTab(1)">
    待我审批
  </a>
    </div>
    <ion-content class="has-header">
        <div class="list">
            <a class="item" ng-click="showDetail(item)" ng-repeat="item in items">
                <h2>{{item.XM}}</h2>
                <p>休假时间1：<span class="positive">{{item.KSSJ1|dateqingjia}}</span>&nbsp;~&nbsp;<span class="positive">{{item.JSSJ1|dateqingjia}}</span>&nbsp;&nbsp;共&nbsp;<span class="assertive">{{item.TS1}}</span>&nbsp;天</p>
                <p ng-if="item.KSSJ2">休假时间2：<span class="positive">{{item.KSSJ2|dateqingjia}}</span>&nbsp;~&nbsp;<span class="positive">{{item.JSSJ2|dateqingjia}}</span>&nbsp;&nbsp;共&nbsp;<span class="assertive">{{item.TS2}}</span>&nbsp;天</p>
            </a>
        </div>
    </ion-content>
    </ion-tabs>

</ion-view>