<ion-modal-view>
	<div class="bar bar-header bar-stable">
		
		<h1 class="title">填写休假信息</h1>
        <div class="buttons">
			<button class="button" ng-click="modalJia.hide()"><i class="icon ion-close"></i></button>
		</div>
	</div>
	<ion-content class="has-header scroll-content ionic-scroll">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">休假地点</span>
		    <input type="text">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">休假事由</span>
		    <input type="text">
		  </label>
		   <label class="item item-input item-select">
		    <span class="input-label">休假类别</span>
		    <select>
		      <option>病假</option>
		      <option selected>事假</option>
		      <option>年假</option>
		    </select>
		  </label>
		   <label class="item item-input">
		    <span class="input-label">开始时间</span>
		    <input type="date">
		  </label>
		   <label class="item item-input">
		    <span class="input-label">结束时间</span>
		    <input type="date">
		  </label>
		   <label class="item item-input">
		    <span class="input-label">天数</span>
		    <input type="text">
		  </label>
		   <label class="item item-select">
		    <span class="input-label">审批人</span>
		    <select>
		      <option>王主任</option>
		      <option selected>李主任</option>
		      <option>张主任</option>
   			 </select>
		  </label>
		</div>
		<button class="button button-positive button-block" ng-click="modalJia.hide()">
      提交
    </button>
	</ion-content>
</ion-modal-view>
