<ion-view>
    <div class="bar bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
        </div>
        <h1 class="title">休假管理</h1>
        <div class="buttons">

        </div>

    </div>
    <ion-content class="has-header">
        <div class="list">
            <a class="item" ng-click="showDetail(item)" ng-repeat="item in items">
                <h2>{{item.XM}}</h2>
                <p>{{item.QXJSY}}</p>
                <p>时间：<span class="positive">{{item.KSSJ1|dateqingjia}}</span>&nbsp;&nbsp;至&nbsp;&nbsp;<span class="positive">{{item.JSSJ1|dateqingjia}}</span>&nbsp;&nbsp;共&nbsp;<span class="assertive">{{item.TS1}}</span>&nbsp;天</p>
            </a>
        </div>
    </ion-content>
    </ion-tabs>

</ion-view>