<ion-modal-view>
    <div class="bar bar-header bar-stable">

        <h1 class="title">计划详情</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="shenpiDetail.hide()">
				<i class="icon ion-close"></i>
			</button>
        </div>
    </div>

    <ion-content class="has-header scroll-content ionic-scroll">
        <div class="list">
            <div class="item">
                船舶编号
                <span class="item-note">
        <a style="display:inline-block;" ng-click="boatDetail.show()">{{jihuaItem.CBBH}}</a>
      </span>
            </div>
            <a class="item">
      英文船名
      <span class="item-note">
        {{jihuaItem.EN_NAME}}
      </span>
    </a>
            <a class="item">
      中文船名
      <span class="item-note">
       {{jihuaItem.CH_NAME}}
      </span>
    </a>
            <a class="item">
      国籍
      <span class="item-note">
        {{jihuaItem.NATION_CNAME}}
      </span>
    </a>

            <a class="item">
      代理
      <span class="item-note">
        {{jihuaItem.AGENT_NAME}}
      </span>
    </a>
            <a class="item">
      船舶类型
      <span class="item-note">
       {{jihuaItem.VESSEL_TYPE}}
      </span>
    </a>
            <a class="item">
      载货名称
      <span class="item-note">
        {{jihuaItem.GOODS_NAME}}
      </span>
    </a>
            <a class="item">
      长度
      <span class="item-note">
        {{jihuaItem.VESSEL_LONG}}
      </span>
    </a>
            <a class="item">
      吃水
      <span class="item-note">
        {{jihuaItem.DRAFT_BEHIND}}
      </span>
    </a>

            <a class="item">
      始发地
      <span class="item-note">
        {{jihuaItem.ORIGIN_BWMC}}
      </span>
    </a>
            <a class="item">
      目的地
      <span class="item-note">
        {{jihuaItem.DESTINATION_BWMC}}
      </span>
    </a>
            <a class="item">
      开航时间
      <span class="item-note">
        {{jihuaItem.KHSJ|date}}
      </span>
    </a>
            <a class="item">
      上段引航员
      <span class="item-note">
       {{jihuaItem.SDYHY}}
      </span>
    </a>
            <a class="item">
      抵澄时间
      <span class="item-note">
        {{jihuaItem.DCSJ|date}}
      </span>
    </a>
            <a class="item">
      下段引航员
      <span class="item-note">
        {{jihuaItem.XDYHY}}
      </span>
    </a>
            <a class="item">
      抵宝时间
      <span class="item-note">
       {{jihuaItem.YLSJ|date}}
      </span>
    </a>
            <a class="item">
      引领备注
      <span class="item-note">
        {{jihuaItem.JLBZ}}
      </span>
    </a>
        </div>
    </ion-content>
</ion-modal-view>