<ion-view view-title="江阴引航站">
    <div class="bar bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="$ionicGoBack()">
				<i class="icon ion-android-arrow-back"></i>
			</button>
        </div>
        <h1 class="title">江阴引航站</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="showDeleteButtons()">
				<i class="ion-android-checkbox-outline"></i>
			</button>
        </div>
    </div>
    <ion-content class="has-header scroll-content ionic-scroll">
        <ion-list>
            <ion-item class="item" ng-click="showDetail(item)" ng-repeat="item in jihuaList">
                <h2>{{item.CH_NAME}}({{item.EN_NAME}})</h2>
                <p>代理：<span class="positive">{{item.AGENT_NAME}}</span> 长度：<span class="assertive">{{item.VESSEL_LONG}}</span> 吃水：<span class="assertive">{{item.DRAFT_BEHIND}}</span></p>
                <p>始发地：<span class="positive">{{item.ORIGIN_BWMC}}</span> 目的地：<span class="positive">{{item.DESTINATION_BWMC}}</span></p>
                <p>开航时间：<span class="positive">{{item.KHSJ|date}}</span> 抵澄时间：<span class="positive">{{item.DCSJ|date}}</span></p>
                <ion-delete-button class="ion-checkmark-circled" ng-click="doShenpi(item)"></ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>