
<ion-view view-title="江阴引航站">
	<div class="bar bar-header bar-dark">
		<div class="buttons">
			<button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
		</div>
		<h1 class="title">江阴引航站</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="shouldShowDelete=!shouldShowDelete"><i class="ion-android-checkbox-outline"></i></button>
		</div>
	</div>
	<ion-content class="has-header scroll-content ionic-scroll">
		<ion-list show-reorder="!shouldShowReorder">
			<ion-item class="item" href="#/app/shenpi/{{i}}" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
				<h2>澄12968&nbsp;(ESTOLAR)</h2>
				<p>代理：<span class="positive">常州外代</span> 长度：<span class="assertive">96.55</span> 吃水：<span class="assertive">9.88</span></p>
				<p>始发地：<span class="positive">宝山</span> 目的地：<span class="positive">九江</span></p>
				<p>开航时间：<span class="positive">0700/07</span> 抵澄时间：<span class="positive">700/07</span></p>
				<ion-option-button class="button-assertive" ng-click="modalHuibao.show();">审批通过</ion-option-button>
				<ion-reorder-button class="ion-android-checkbox-outline-blank"
                        on-reorder="">
    </ion-reorder-button>
			</ion-item>
			
		</ion-list>
	</ion-content>
</ion-view>

