<ion-modal-view>
    <div class="bar bar-header bar-stable">
        <h1 class="title">特种船详情</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="tezhongDetail.hide()">
				<i class="icon ion-close"></i>
			</button>
        </div>
    </div>

    <ion-content class="has-header scroll-content ionic-scroll">
        <div class="list">
            <a class="item">
      申报单位
      <span class="item-note">
        {{tzcbDetail.SBDW}}
      </span>
    </a>
            <a class="item">
      拟稿人
      <span class="item-note">
        {{tzcbDetail.NGR}}
      </span>
    </a>
            <a class="item">
      船舶呼号
      <span class="item-note">
        {{tzcbDetail.CHH}}
      </span>
    </a>

            <a class="item">
      船名
      <span class="item-note">
        {{tzcbDetail.CM}}
      </span>
    </a>
            <a class="item">
      国籍
      <span class="item-note">
        {{tzcbDetail.GJ}}
      </span>
    </a>
            <a class="item">
      船舶代理
      <span class="item-note">
        {{tzcbDetail.CBDL}}
      </span>
    </a>
            <a class="item">
      总长
      <span class="item-note">
        {{tzcbDetail.ZC}}
      </span>
    </a>
            <a class="item">
       最大高度
      <span class="item-note">
        {{tzcbDetail.ZDGD}}
      </span>
    </a>

            <a class="item">
      吃水
      <span class="item-note">
        {{tzcbDetail.ZDCS}}
      </span>
    </a>
            <a class="item">
      总吨
      <span class="item-note">
        {{tzcbDetail.ZD}}
      </span>
    </a>
            <a class="item">
      净吨
      <span class="item-note"> 
          {{tzcbDetail.JD}}  
      </span>
    </a>
            <a class="item">
      载重吨
      <span class="item-note"> 
          {{tzcbDetail.ZZD}}  
      </span>
    </a>
            <a class="item">
      主机种类
      <span class="item-note">   
          {{tzcbDetail.ZJZL}}
      </span>
    </a>
            <a class="item">
      停靠泊位
      <span class="item-note">   
          {{tzcbDetail.TKBW}}
      </span>
    </a>
            <a class="item">
      货种/类别
      <span class="item-note"> 
          {{tzcbDetail.HZ}}  
      </span>
    </a>
            <a class="item">
      建造日期
      <span class="item-note">  
          {{tzcbDetail.JZRQ}} 
      </span>
    </a>
            <a class="item">
      预计到长江口
      <span class="item-note">  
          {{tzcbDetail.DCJKSJ}} 
      </span>
    </a>
            <a class="item">
      离港时间
      <span class="item-note"> 
          {{tzcbDetail.LGKSJ}}  
      </span>
    </a>
            <a class="item">
      填报日期
      <span class="item-note"> 
          {{tzcbDetail.TBRQ}}  
      </span>
    </a>
            <a class="item">
      引领起港
      <span class="item-note">   
          {{tzcbDetail.YLQG}}
      </span>
    </a>
            <a class="item">
      引领讫港
      <span class="item-note">  
          {{tzcbDetail.YLQIG}} 
      </span>
    </a>
            <a class="item">
      特种船舶类型
      <span class="item-note"> 
          {{tzcbDetail.TZCBLX}}  
      </span>
    </a>
            <div class="item item-divider">
                审批意见
            </div>
            <div class="list list-inset">
                <label class="item item-input">
      <textarea placeholder="审批内容" ng-model="yj"></textarea>
    </label>
                <label class="item" ng-click="anquanModal.show()">
      安全措施
    <span class="item-note" > 
      <i class="icon ion-android-arrow-dropdown"></i>
    </span>
  </label>
                <div class="button-bar bar-positive">
                    <a class="button " ng-click="baobei(tzcbDetail)">报备</a>
                    <a class="button " ng-click="baopi(tzcbDetail)">报批</a>
                </div>
            </div>

        </div>
    </ion-content>
</ion-modal-view>