<ion-view>
    <div class="bar bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="$ionicGoBack()">
				<i class="icon ion-android-arrow-back"></i>
			</button>
        </div>
        <h1 class="title">消息中心</h1>

    </div>

    <ion-content class="has-header scroll-content ionic-scroll">

        <div class="list">

            <a class="item" ng-repeat="item in items" ng-click="showDetail(item)">
                <h2 class="positive">{{item.title}}</h2>
                <p>
                    {{item.content}}
                </p>
                <p class="item-note">
                    {{item.sentTime}}
                </p>
            </a>

        </div>

    </ion-content>
</ion-view>