<ion-modal-view>
    <div class="bar bar-header bar-stable">
        <h1 class="title">夜航船详情</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="yehangDetail.hide()">
				<i class="icon ion-close"></i>
			</button>
        </div>
    </div>

    <ion-content class="has-header scroll-content ionic-scroll">
        <div class="list">
            <a class="item">
      申报单位
      <span class="item-note">
          {{yhcbDetail.SBDW}}
      </span>
    </a>
            <a class="item">
      拟稿人
      <span class="item-note">
          {{yhcbDetail.NGR}}
      </span>
    </a>
            <a class="item">
        拟稿时间
        <span class="item-note">
            {{yhcbDetail.NGSJ}}
        </span>
      </a>
            <a class="item">
      船舶呼号
      <span class="item-note">
          {{yhcbDetail.CHH}}
      </span>
    </a>

            <a class="item">
      船名
      <span class="item-note">
          {{yhcbDetail.CM}}
      </span>
    </a>
            <a class="item">
      国籍
      <span class="item-note">
          {{yhcbDetail.GJ}}
      </span>
    </a>
            <a class="item">
      船舶代理
      <span class="item-note">
          {{yhcbDetail.CBDL}}
      </span>
    </a>
            <a class="item">
      总长
      <span class="item-note">
          {{yhcbDetail.ZC}}
      </span>
    </a>
            <a class="item">
       最大高度
      <span class="item-note">
          {{yhcbDetail.ZZDGD}}
      </span>
    </a>

            <a class="item">
      吃水(淡)
      <span class="item-note">
          {{yhcbDetail.CS}}
      </span>
    </a>
            <a class="item">
      总吨
      <span class="item-note">
          {{yhcbDetail.ZD}}
      </span>
    </a>
            <a class="item">
      净吨
      <span class="item-note">   
          {{yhcbDetail.JD}}      
      </span>
    </a>
            <a class="item">
      载重吨
      <span class="item-note">   
          {{yhcbDetail.ZZD}}  
      </span>
    </a>
            <a class="item">
        主机马力
      <span class="item-note">   
        {{yhcbDetail.ZJML}}
      </span>
    </a>
            <a class="item">
      建造日期
      <span class="item-note">   
          {{yhcbDetail.JZSJ}} 
      </span>
    </a>
            <a class="item">
      货种/类别
      <span class="item-note">  
          {{yhcbDetail.HZ}}   
      </span>
    </a>
            <a class="item">
      船速
      <span class="item-note"> 
          {{yhcbDetail.CSU}}    
      </span>
    </a>
            <a class="item">
      引航员
      <span class="item-note">  
          {{yhcbDetail.YHY}}   
      </span>
    </a>

            <a class="item">
      引领起港
      <span class="item-note"> 
          {{yhcbDetail.YHQG}}  
      </span>
    </a>
            <a class="item">
      引领讫港
      <span class="item-note"> 
          {{yhcbDetail.YLQG}}  
      </span>
    </a>
            <a class="item">
      航行计划
      <span class="item-note">  
          {{yhcbDetail.YHJH}} 
      </span>
    </a>
            <div class="item item-divider">
                安技部意见
            </div>
            <a class="item">
        可以通行
      </a>
            <div class="item item-divider">
                审批项
            </div>
            <div class="list list-inset">
                <label class="item item-input">
    <textarea placeholder="审批内容" ng-model="temp.yj"></textarea>
  </label>
                <label class="item item-select">
    安全措施
  
    <select ng-model="temp.aqcsText">
      <option ng-repeat="item in aqcslist" value="{{item.CSNR}}">{{item.CSNR}}</option>
    </select>
  
</label>
                <div class="item item-input item-select">
                    <div class="input-label">
                        是否完成:
                    </div>
                    <select ng-model="temp.IsFinish">
    <option value="true">是</option>
    <option value="false">否</option>
    </select>
                </div>
                <div class="button-bar bar-positive">
                    <a class="button " ng-click="baobei(yhcbDetail)">审批</a>
                </div>
            </div>

        </div>
    </ion-content>
</ion-modal-view>